.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/*.user
**/*.suo
**/*.log

Frontend/node_modules
Frontend/dist
Frontend/.env
Frontend/.env.local
Frontend/.env.*.local

.env
.env.local
.env.*.local

postgres_data
docs
